<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <link href="~/Content/css/Custom.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header id="header">

    </header>
    <div  class="container-fluid">
        <div class="row">
            @Html.Partial("Partial/Sidebar")
            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
                <div id="invoice_container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @Scripts.Render("~/bundles/public")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
